name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build, Blueprint, and Deploy
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.0
        with:
          tool-cache: false
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: false

      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build Lean project
        uses: leanprover/lean-action@v1
        with:
          build: true
          lint: false

      - name: Build blueprint and docs, then deploy
        uses: leanprover-community/docgen-action@deed0cdc44dd8e5de07a300773eb751d33e32fc8
        with:
          blueprint: true
          homepage: home_page
